.body {
  padding: 80px 0;
  text-align: center;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
}

.deployed {
  color: #999;
  text-align: center;
}

p {
  color: #999;
  text-align: center;
}